<a href="https://colab.research.google.com/github/saketharun/saketharun/blob/main/Advanced%20Data%20Types%20(List).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                    PYTHON LISTS


                .It is commnly used data type that represnts an ordered, mutable (modifiable) and iterable sequence of elements.

                .Lists are used to store collections of items, and these items can be of any data type, including numbers, strings, or even others lists.

                .Lists are defined using square brackets[] and elements are separated by commas(,).

In [2]:
CREATION OF LISTS:

   my_list = []
   numbers =[1,2,3,4,5]
   names = ["Apple","Banana","Mango"]
   mixed_types = [1,"apple",3.14,True]
   print(type(mixed_types))
   print(type(numbers))

<class 'list'>
<class 'list'>

ACCESS LIST ELEMENTS


. In python,lists are orderded and each item in a list associated with a number.the number is known as a list index.

. The index of the first element is 0, second element is 1 and so on.

. Python allows negative indexing for its sequences.
. The index of -1 refers to the last item, -2 to the second last item and so on.

In [3]:
#positive indexing
language=["python","swift","c++",]
print(language[0])
print (language[2])

python
c++

In [8]:
# NEGITIVE INDEXING
names=["harsha","mahesh","tahir",]
print(names[-1])
print(names[-3])

tahir
harsha

SLICING OF A LIST


in python,it is possible to access a portion of a list using the slicing operator:

In [3]:
my_list=['e',"t",'a','b','c','k','e',]
print(my_list[3:18])

['b', 'c', 'k', 'e']

In [6]:
print(my_list[:3])

['e', 't', 'a']

In [7]:
print(my_list[:7])

['e', 't', 'a', 'b', 'c', 'k', 'e']

In [8]:
print(my_list[5:9])

['k', 'e']

                         LIST OPERATIONS

           List contain two types of operations

           1. Concatenation
           2. Repetition
           
           
                             Concatenation

In [9]:
# Adding Two lists
a =[1,2,3]
b =[1,4,5,6,3,9]
c = a + b
print(c)

[1, 2, 3, 1, 4, 5, 6, 3, 9]

                       Repetition

In [1]:
# Repet the values of multiple lists
a = [3,5,2,1,9,8]
b = a*14
print (b)

[3, 5, 2, 1, 9, 8, 3, 5, 2, 1, 9, 8, 3, 5, 2, 1, 9, 8, 3, 5, 2, 1, 9, 8, 3, 5, 2, 1, 9, 8, 3, 5, 2, 1, 9, 8, 3, 5, 2, 1, 9, 8, 3, 5, 2, 1, 9, 8, 3, 5, 2, 1, 9, 8, 3, 5, 2, 1, 9, 8, 3, 5, 2, 1, 9, 8, 3, 5, 2, 1, 9, 8, 3, 5, 2, 1, 9, 8, 3, 5, 2, 1, 9, 8]

                           Change list items


      To change the values of a specific item, refer to the index number.

In [2]:
list = ["apple", "banana", "cherry"]
print(list)
list[0] = "Water melon"
print(list)

['apple', 'banana', 'cherry']
['Water melon', 'banana', 'cherry']

In [6]:
list = ["ball", "cat", "dog"]
print(list)
list[1:4] = "pigeon"
print(list)

['ball', 'cat', 'dog']
['ball', 'p', 'i', 'g', 'e', 'o', 'n']

In [7]:
list = ["tharun", "harsha","nagasai" ]
print(list)
list[2:3] = "mahesh"
print(list)

['tharun', 'harsha', 'nagasai']
['tharun', 'harsha', 'm', 'a', 'h', 'e', 's', 'h']

                           List Methods

                Python has a set of built-in methods that you can use lists.


                             Methods Description


                       append()
                Adds an element at the end of the list

                       extrend()
                Adds an elements of a list (or any iterable ), to the end of the current list



                        Insert()

                Adds an elements at the specified position



                        Remove()

              Remove the item with the specified value

                        pop()

              Removes the elements at the specified position


                        index()

             Returns the index of the first element with the specified valuke


                        Count()

            Returns the number of elements with the specified value

                        Sort()

           Sorts the list in a ascending order


                        Reverse()

              Reverse the order of the lists





      1. Append():



      TO add an item to the end of thye list, use the append()method:

In [2]:
thislist = ["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

    2. extend()

       To append elements from another list to the current list, use the extend()metod.

In [7]:
thislist = ["apple","banana","cherry"]
fruits  = ["mango","pineapple", "papaya"]
thislist.extend(fruits)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

    3. insert()

     To insert a list item at a specified index or position, use the insert()method.

In [11]:
thislist = ["amar","rohit","gana"]
thislist.insert(1, "anil")
print(thislist)

['amar', 'anil', 'rohit', 'gana']

    4. Remove()

     Remove the first occurance of a value, the remove() method removes the specified item.

In [12]:
thislist = ["cocount","water", "cocount tree"]
thislist.remove("water")
print(thislist)

['cocount', 'cocount tree']

  5. pop()

   the pop() method removes the specified index, removes and returns an elements at a specified index.

In [1]:
thislist =["nari","suri","bari"]
thislist.pop(1)
print(thislist)

['nari', 'bari']

  6. inedx():

  Returns the index of the first occurance of value

In [10]:
names = ["dada","sai","hari","gani"]
index = names.index("sai")
print (index)

1

In [11]:
numbers = [10,20,50,40,40,50,60,20,40,80]
index = numbers.index(20)
print(index)

1

     7. count():


      Returns the number of occurances of a value.

In [12]:
text ="hello world, hello everyone"
count_hello =text.count("hello")
print(count_hello)

2

In [13]:
numbers =[1,2,3,4,5,6,7,8,9,33,5]
count = numbers.count(5)
print(count)

2

    8. SORT():



  sorts the list in a asceding order.

In [14]:
thislist =["amma", "naana","thamudu","akka"]
thislist.sort()
print(thislist)

['akka', 'amma', 'naana', 'thamudu']

In [16]:
numbers = [4,6,8,9,4,3,2,1,44,55,66,88,0,12]
numbers.sort()
print(numbers)

[0, 1, 2, 3, 4, 4, 6, 8, 9, 12, 44, 55, 66, 88]

   9. reverse():


  Reversed the order of elements in the list.

In [20]:
my_string = "Hello, world!"
reversed_string = my_string[::-2]
print(reversed_string)

!lo olH

In [21]:
numbers = [6,5,4,3,2,6,7,8,9]
numbers.reverse()
print(numbers)

[9, 8, 7, 6, 2, 3, 4, 5, 6]

               Operator Description
               
                         copy()
               
               returns a shallow copy of the list.
              
                         del()

              The del keyword also remolves the specified inedx.


                         clear()


              the clear method empties the list.




        1. COPY():

        Returns a shallow copy of list.

In [22]:
my_list = [1,2,3,4,5]
new_list = my_list.copy()
print(new_list)

[1, 2, 3, 4, 5]

     2.del():


  The del keywords also removes the specified index.

In [24]:
thislist = ["mango","orange","custard apple"]
del thislist[0]
print(thislist)

['orange', 'custard apple']

   3. clear():

     The clear()method empties the list. The list stills remains, but it has no content.

In [25]:
thislist = ["arun","sunil","ravi"]
thislist.clear()
print(thislist)

[]