<a href="https://colab.research.google.com/github/saketharun/saketharun/blob/main/Advanced%20Data%20Types%20(Tuples).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                              PYTHON TUPLES


  A tuple is a data type that represents an ordered, immutable (unchangeable) sequence of elements.



  Tuples are similar to lists, but the key difference is that tuples cannot be modified once they are created.



  They are defined using parenthesis()and elements are separted by commas.



                FEATURES OF PYTHON TUPLE


   Tuples are an immutable data type, meaning their elements cannot be changed after they are generated.


  Each element in a tuple has a specific order that will never changes because tuples are orderd sequence.





                CREATING A TUPLE

In [1]:
empty_tuple =()

In [4]:
# tuple with elements

fruits = ("apple","banana","cherry")
print(fruits)
print(type(fruits))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [6]:
# mixed tuples

mixed_tuple = (1,"apple",5.4,"true")
print(mixed_tuple)

(1, 'apple', 5.4, 'true')

In [7]:
# single element tuple

single_element_tuple =(25,)
print(type(single_element_tuple))

<class 'tuple'>

                       Accessing of tuples

  Tuples support indexing and slicing, just like lists.

In [9]:
fruits = ("banana","apple","orange")
print(fruits[0])
print(fruits[0:7])

banana
('banana', 'apple', 'orange')

                               IMMUTABILITY:


  Once a tuple is created you cannot change its elements or add /remove elements.

In [11]:
fruits = ("apple","pineapple","orange")
fruits[2] = "water"
print(fruits)

TypeError: 'tuple' object does not support item assignment

                 TUPLE OPERATIONS:

In [14]:
#1. CONCENTATION:

# Combining two tuples

tuple1 = (1,2,3)
tuple2 = ("a","b","c")
result = tuple1+tuple2
print(result)

(1, 2, 3, 'a', 'b', 'c')

In [17]:
 #2. Repetition:

 # repeating a tuple
 tuple1=(1,2,3)
 result=tuple1*20
 print(result)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

TUPLE METHODS:
tuples have limited methods compare to lists due to dare immutability.

1. COUNT()

In [19]:
# returns the number of accurrence
numbers=(1,2,3,4,5,6,7,8,9)
count=numbers.count(3)
print(count)

1

In [21]:
strings=("banana","cherry","apple")
count=strings.count("cherry")
print(count)

1

In [22]:
games=("cricket","football","chess")
count=games.count("chess")
print(count)

1

  2. Index()

In [25]:
# returns the index of the first occurance
numbers= (2,3,4,4,5,6,7,3,7,6,8,8)
index = numbers.index(4)
print(index)

2

In [29]:
strings = ("banana","orange","guava")
index= strings.index("orange")
print(index)

1

In [3]:
games = ("hockey","cricket","football")
index = games.index("cricket")
print(index)

1