<a href="https://colab.research.google.com/github/saketharun/saketharun/blob/main/practice%20interview%20code%20questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. python programe to check if a string is a palindrome.          #1

u=input()
i=u[::1]
if u==i:
  print(u, "Is a palindrome")
else:
  print(u,"Is not a palindrome")

3242
3242 Is a palindrome

In [ ]:
#2.  pyhton programe to find the factorial of a number             #2

num= int(input("Enter a number:"))
factorial=1

if num < 0:
  print("sorry,factorial does not exist")
elif num==0:
  print("The factorial of o is 1")
else:
  for i in range(1,num+1):
    factorial = factorial*i
  print("The factorial of",num,"is",factorial)

Enter a number:1020
The factorial of 1020 is 495711686351639193773210783935508599967193812971557935364863691944470223358915090366269100180330234872803827608284137529747334498102087842000654494331876648800970728361307682481776959128900957177413590597965794092910403488145761377098525324023508990067767282343838478050787283572604415908509119742107196724215953292313644915831489615785484391971963523405927910421017966336454320320441831824824944604996539190237346448561537427251334754639423702789262693545523800640906696657921844088370453074725139420955959541690085517931651878503605013736983188996291806658857460633101860968204750336261330581216890921602812806437160430597858190592228921009774732860666636874238518206869954266279983928306836797452763695722676124915966018053224057374434854000827889307988349781015132443520460202490973437807128104812760101378051029582024149593984550917222563537860033788954948419465281275635535343394824561576602468030624708028470876687083056603164203950869792485263483550965451414223339353827003939084759336207364260766727894105318713181959161804913544382557559700045998062604361969936978102323838300087333974768312969140441961115048063033663058761039825092514056499257657170192502971959438325685411040135578513777263193470000316441985851425551287566127029485378438864829472066821520298907903010108437381352385692634058825409866106848832544838999499099117418954232228512576242184330789412215385243664928067630035340295085042453598596137854826567891025728059139061709704358212531643359888874225371664842690400732100564143038531401141945742973890530336619949101435259868005989204537227214517455755081841433860832368437055803650428609457002876995908345026731173265171978900636091694711057211141857525237731767468722092326590290117415574889961483301643438395966522383541702596902346591484429027748357129241246476629333263030808897081675674431848666409122170179902214071667793092709919475814843614866385282764173524210243518396581118518163129579365431006199383760851055851538606747200282046835555477844371601871293165766991588699706043663382035307239695796222503869716253317136980544202168084393582378972631406356890971975046938380011411592552188039636586702614787489989555962442033187998649804283785834425443126186537941206418604554240186090531687964869568792037571195840178652923444476118701857333482210844224497186610715843056877004497795934551499384354410066065589926352687698997420312494080000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
#4. count of vowels and consonants

x=input("Enter the string:")
m=x.lower()
vowels=["a","e","i","o","u"]
g=0
d=0
for i in m:
    if i in vowels:
      g=g+1
    else:
      d=d+1
print("no. of vowels:",g)
print("no. of consonants",d)

Enter the string:1,5
no. of vowels: 0
no. of consonants 3

In [ ]:
#5. python program to reverse a string
i=input()
i=u[::-1]
print("reverse:",i)

tharun
reverse:  :sammoc yb detarapes srebmun retnE

In [ ]:
#6. python program to check if a number is prime.
num = int(input("Enter a number:"))
if num > 1:
  for i in range(2,num):
    if (num%i)==0:
      print(num,"is not a prime number")
      break
    else:
      print(num,"is a prime number")

else:
  print(num,"is not a prime number")

Enter a number:3
3 is a prime number

In [ ]:
#8.  program to calcute the square of a given number.
g=int(int())
square=g*g
print("square of",g,':',square)

square of 0 : 0

In [ ]:
#9. program to copy one string to another string
a=input("Enter the string:")
b=a
print(b)

Enter the string:tharun
tharun

In [ ]:
#10. program to sort characters of string in ascending order
t=input("Enter the string:")
s=list(t)
s.sort()
m=''.join(s)
print(m)

Enter the string:hello
ehllo

In [ ]:
#11. program to sort characters of string in descending order
t=input("Enter the string:")
s=list(t)
s.sort()
m=''.join(s)
print(m[::-1])

Enter the string:hello
ollhe

In [ ]:
#12. python to swap two numbers with third variables.
a=int(input("Enter the value:"))
b=int(input("Enter the value:"))
c=a
a=b
b=c
print("After swapping:",a)
print("After swapping",b)

Enter the value:23
Enter the value:13
After swapping: 13
After swapping 23

In [ ]:
#13. program to calcute LCM of given two numbers.
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
if a>b:
    big=a
#value=big
else:
    big=b
while(True):
  if big% a==0 and big% b==0:
    lcm=big
    break
  big=big+1
  #big+=value
print("LCM is :",lcm)

Enter the first number3
Enter the second number3
LCM is : 3

In [ ]:
#14. python program to find the maximum number in list.
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
c=int(input("Enter the third number"))
f=[a,b,c]
print(f)
print(max(f))

Enter the first number3
Enter the second number9
Enter the third number2
[3, 9, 2]
9

In [ ]:
#15. program to find smallest number among three
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
c=int(input("Enter the third number"))
print("smallest number is:",min(a,b,c))

Enter the first number3
Enter the second number9
Enter the third number2
smallest number is: 2

In [ ]:
#16. python program to find the maximum number in a list.
user_input=input("Enter numbers separated by commas: ")
i = [int(x) for x in user_input.split(',')]
print("Minimum number:",min(i))

Enter numbers separated by commas: 3
Minimum number: 3

In [ ]:
#17. python program to find the largest element in a list.
#let us take largest by length for string elements in a list.
u= input("Enter Elements separated by commas: ")
i= [str(x) for x in u.split(',')]
largest=i[0]
for x in i:
  if len(x)>len(largest):
    largest=x
    print("largest by length for string element is:",largest)

Enter Elements separated by commas: How_are_you

In [ ]:
#18. python program to find the smallest element in a list.
#let us take small by length for string elements in a list.
u= input("Enter Elements separated by commas: ")
i= [str(x) for x in u.split(',')]
smallest=i[0]
for x in i:
  if len(x)<len(smallest):
    smallest=x
    print("smallest by length for string element is :",smallest)

Enter Elements separated by commas: Hi

In [ ]:
#19. python program to find the common elements between two lists.
#static input
a=["apple","banana","cherry","guava"]
s=["papaya","banana","mango","custard apple"]
b=set(a)
c=set(s)
z=b.intersection(c)
#z=b&c
print("common elements are :",z)

common elements are : {'banana'}

In [ ]:
#20. python program to find the common elements between two lists.
#dynamic input
f= input("Enter Elements separated by commas in List-1: ")
r1=[str(x) for x in f.split(',')]
q= input("Enter Elements separated by commas in List-2: ")
r2= [str(x) for x in q.split(',')]
t=set(r1)
k=set(r2)
w=t.intersection(k)
#w=t&k
print("common elements are:",w)

Enter Elements separated by commas in List-1: new delhi
Enter Elements separated by commas in List-2: tharun
common elements are: set()

In [4]:
#21.python program to count the frequency of each element in a list.
elements = ["apple","banana","apple","cherry","banana","banana"]
frequency = {}
for element in elements:
    if element in frequency:
        frequency[element]+=1
    else:
        frequency[element]=1
        print("Element frequencies: ",frequency)

Element frequencies:  {'apple': 1}
Element frequencies:  {'apple': 1, 'banana': 1}
Element frequencies:  {'apple': 2, 'banana': 1, 'cherry': 1}

In [6]:
#22. count the frequency of each element in a list.
from collections import Counter
elements = ["apple","banana","apple","cherry","banana","banana"]
frequency = Counter(elements)
print("Element frequencies:",frequency)

Element frequencies: Counter({'banana': 3, 'apple': 2, 'cherry': 1})

In [58]:
#24. python program to find the second largest number in a list.
def find_second_largest(numbers):
   if len(list(set(numbers)))<2:
    return None


   list(set(numbers)).sort()
   return unique_numbers[-2]

f= input("Enter Elements separated by commas : ")
numbers=[str(x) for x in f.split(',')]
second_largest = find_second_largest(numbers)  #calling the function
print("The second largest number in the list is:", second_largest)

Enter Elements separated by commas : tharun
The second largest number in the list is: None

In [60]:
#25. program to count the number of occurances of a character in a string.
h= input("Enter the string")
c= input("Enter the character to count")

if len(c) != 1:
   print("please enter exactly one character.")
else:
   count = h.count(c)
   print(c, "oocurs",count,"times")

Enter the stringB
Enter the character to countB
B oocurs 1 times

In [87]:
#26. prime number using functions
def prime(k):
  if k==0 and k==1:
    print(k,"is not defined.")
  elif  k>1:
      for i in range(2,k):
          if (k//i==0):
            print(k,"is not a prime number")
            break
          else:
            print(k,"is a prime number")
      else:
          print(k,"is neither nor a prime number")
k=int(input("Enter the number:"))
prime(k)

Enter the number:239
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is a prime number
239 is neither nor a prime number

In [86]:
#27. pal indrome using functions
def palindrome(a):
  c=a[::-1]
  if(c==a):
    print(a,"is a palindrome")
  else:
    print(a,"is not a palindrome number")
a=input("Enter the input: ")
palindrome(a)

Enter the input: 232
232 is a palindrome

In [90]:
#28. code for fibinocci services.
def fibinocci(n):
  n1,n2=0,1
  sum=0
  if n<0:
    print("please enter positive number.")
  else:
    print("fibinocci series:")
    for i in range(0,n):
      print(sum,end='')
      n1=n2
      n2=sumsum=n1+n2
n=int(input())
fibinocci(n)

1
fibinocci series:
0

In [95]:
#29. code for counting parentheses
def parentheses_count(u):
  open=u.count('(')
  close=u.count(')')
  print("opening parentheses count:",open)
  print("closing parentheses",close)
  if open==close:
    print("parentheses are balanced")
  else:
    print("parentheses are not balanced")
u=input("Enter the string:")
parentheses_count(u)

Enter the string:20
opening parentheses count: 0
closing parentheses 0
parentheses are balanced

In [96]:
#30. python code to return first non-repeating element.
def non_repeating(s):
  flag = 0
  for i in s:
    if s.count(i)==1:
      print("First non-repeating character is :",i)
      flag=1
      break
  if flag==0:
    print("No non-repeating character")
s=input()
non_repeating(s)

3
First non-repeating character is : 3