<a href="https://colab.research.google.com/github/saketharun/saketharun/blob/main/python%20operators%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

     3. COMPARISION OPERATORS:
   

      Comparision operators compare two values or variables and return a boolean result.


       EQUAL TO OPERATOR:

In [1]:
a=5
b=5
c= "string"
d= "string"
e=22.5
f=22.5
g="name"
h="name"

print(a==b)
print(b==g)
print(f==e)
print(c==f)
print(c==d)

True
False
True
False
True

NOT EQUAL TO OPERATOR:

In [2]:
a=10
b=22
c=99
d=28
e=65
f=10
g=22

print(a!=b)
print(c!=f)
print(e!=c)
print(b!=g)
print(d!=a)

True
True
True
False
True

GREATER THAN OPERATOR:

In [3]:
a=10
b=22
c=99
d=28
e=65

print(a>b)
print(c>b)
print(e>d)
print(b>c)
print(d>a)

False
True
True
False
True

LESS THAN OPERATOR:

In [4]:
a=10
b=22
c=99
d=28
e=65

print(a<b)
print(c<d)
print(e<d)
print(b<c)
print(d<a)

True
False
False
True
False

Greater than or equal to operator:

In [5]:
a=10
b=22
c=99
d=28
e=65

print(a>=b)
print(c>=d)
print(e>=c)
print(b>=a)
print(d>=a)

False
True
False
True
True

Less than or equal to operator:

In [6]:
a=10
b=22
c=99
d=28
e=65

print(a<=b)
print(c<=d)
print(e<=c)
print(b<=a)
print(d<=a)

True
False
True
False
False

     4. LOGICAL OPERATOR:

  Logical operators are used to check whether an expression is True or False.

  And operator:

      Returns true if both the ends are true.

In [7]:
print(5>3 and 15>5)
print(5>3 and 5>51)
print(5==3 and 15!=5)
print(10==10 and 15>5)
print(50>35 and 15<95)

True
False
False
True
True

      OR OPERATOR:


      Returns true if either of the operands is true

In [8]:
print(5>3 or 15>5)
print(5==3 or 5>51)
print(5==3 or 15!=5)
print(10==10 or 15>5)
print(50<35 or 15>95)

True
False
True
True
False

      NOT OPERATOR:

  Returns true if the operand is false.

In [9]:
print(not(5>3 and 15>5))
print(not(5==3 or 5>51))
print(not(5==3 and 15!=5))
print(not(10==10 or 15>5))
print(not(50<35 and 15>95))
print(not(5+3==8))

False
True
True
False
True
False

    5. IDENTIFY OPERATORS:

     Identify whether the value is present or not.s

     is Operator:

     Returns true if the operands are identical.

In [10]:
a=5
b=5
c="NAME"
d="name"
e=12.5
f="name"
g=12.5

print(a is b)
print(c is a)
print(c is d)
print(d is e)
print(d is f)

True
False
False
False
True

   IS NOT OPERATOR:

     True if the operands are not identical.

In [11]:
a=5
b=5
c="NAME"
d="name"
e=12.5
f="name"
g=12.5

print(a is not b)
print(c is not a)
print(c is not d)
print(d is not e)
print(d is not f)

False
True
True
True
False

  6. MEMBERSHIP OPERATOR:

     They are used to test whether a value or variable is found in a sequence or not.#

      In Operator:
      
      
      True if value or variables is found in sequence.

In [12]:
a="hellow world"
b=[1,2,3,4,5,6,7,8,9]

print("h" in a)
print(5 in b)
print("w" in b)
print("3" in a)
print("r" in a)

True
True
False
False
True

 NOT IN OPERATOR:


  True if value or variable is not found in the sequence.

In [13]:
a="hellow world"
b=[1,2,3,4,5,6,7,8,9]

print("h" not in a)
print(5 not in b)
print("w" not in b)
print("3" not in a)
print("r" not in a)

False
False
True
True
False

     PRECEDENCE OPERATOR:
          
     Operator precedence describes the order in which operations are performed.

     OPERATOR DESCRIPTION


     () parenthesis
     **exponentiation
     +X-x~x unary plus, unaru minus, bitwise not

     ./ // % multiplication, division, float division and modulus

     . .Addition, subtraction
     <<>> bitwise left and right shifts
     & bitwise AND
     ^ bitwise xor
    | bitwise or

     ==!=>>=<<= is is not in in not
     comparision, identify and membership operator

     not logical NOT

     and logical AND

     or logical OR

In [14]:
2+5*39*(545)+59/25**3

106277.003776