<a href="https://colab.research.google.com/github/saketharun/saketharun/blob/main/python%20operators%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                  PYTHON OPERATORS:


   In Python programming, Operators in general are used to perform operations on values and variables.



                       TYPES OF OPERATORS:


      Arithmetic Operators:


      Arithmetic operators are used with numeric values to perform common mathematical operators.

      ADDITION OPERATOR:

In [ ]:
a=10
b=22
c=99
d=88
e=44


x=a+b
y=c+d
z=e+a
u=c+b
v=c+a


print(x)
print(y)
print(z)
print(u)
print(v)

32
187
54
121
109

SUBSTRACTION OPERATOR

In [ ]:
a=100
b=22
c=77
d=44
e=22


x=a-b
y=c-d
z=e-a
u=c-b
v=c-a

print(x)
print(y)
print(z)
print(u)
print(v)

78
33
-78
55
-23

  MULTIPLICATION ASSIGNMENT OPERATOR:

In [ ]:
a=100
b=34
c=56
d=65
e=76


a*=b
c*=d
e*=a
b*=b
d*=a


print(a)
print(c)
print(e)
print(b)
print(d)

3400
3640
258400
1156
221000

  DIVISON OPERATOR:

In [ ]:
# RESULT RETURNS IN QUOTIENT

a=100
b=34
c=56
d=65
e=76


x=a/b
y=c/d
z=e/a
u=c/b
v=c/a


print(x)
print(y)
print(z)
print(u)
print(v)

2.9411764705882355
0.8615384615384616
0.76
1.6470588235294117
0.56

MODULUS OPERATOR:

In [ ]:
from binascii import b2a_base64
# Result returns in remainder.

a=100
b=34
c=56
d=65
e=76

x=a%b
y=c%d
z=e%a
u=c%b
v=c%a

print(x)
print(y)
print(z)
print(u)
print(v)

32
56
76
22
56

EXPONENT OPERATOR:

In [ ]:
a=20
b=33
c=66
d=40
e=30

x=a**b
y=c**d
z=e**a
u=c**b
v=c**a

print(x)
print(y)
print(z)
print(u)
print(v)

8589934592000000000000000000000000000000000
6050028516397248981960722390537902646790820926130894685283493395327614976
348678440100000000000000000000
1109046799524365168868992763533482393744965848272116117405696
2459680572025003612127586705579442176

FLOOT DIVISON OPERATOR:

In [ ]:
# Result removes the decimal
a=100
b=34
c=56
d=65
e=76

x=a//b
y=c//d
z=e//a
u=c//b
v=c//a

print(x)
print(y)
print(z)
print(u)
print(v)

2
0
0
1
0

ASSIGNMENT OPERATORS:


Are used to assign values to variables.
symbols =

   Addition Assignment operators:

In [ ]:
a=10
b=22
c=99
d=28
e=65

a+=b
c+=d
e+=a
b+=b
d+=c


print(a)
print(c)
print(e)
print(b)
print(d)

32
127
97
44
155

 SUBTRACTION Assignment operator:

In [ ]:
a=100
b=228
c=56
d=65
e=76

a-=b
c-=d
e-=a
b-=d
d-=a

print(a)
print(c)
print(e)
print(b)
print(d)

-128
-9
204
163
193

MULTIPLICATION ASSIGNMENT OPERATOTR:

In [ ]:
a=100
b=34
c=56
d=65
e=76

a*=b
c*=d
e*=a
b*=b
d*=a


print(a)
print(c)
print(e)
print(b)
print(d)

3400
3640
258400
1156
221000

DIVISION ASSIGNMENT OPERATOR:

In [ ]:
a=100
b=34
c=56
d=65
e=76

a/=b
c/=d
e/=a
b/=b
d/=a


print(a)
print(c)
print(e)
print(b)
print(d)

2.9411764705882355
0.8615384615384616
25.84
1.0
22.099999999999998

REAMINDER ASSIGNMENT OPERATOR:

In [ ]:
a=100
b=34
c=56
d=65
e=76

a%=b
c%=d
e%=a
b%=b
d%=a


print(a)
print(c)
print(e)
print(b)
print(d)

32
56
12
0
1